:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100vw;
    background-color:white;
    color:black;
    height:1000vh;
}

main {
    width:100vw;
    height:1000vh;
    color:black;
    background-color:white;
}
/*****************************/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100vw;
    padding-inline:4rem;
    padding-top:1rem;
}
.logo-container img {
    width:50px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
nav ul {
    display:flex;
    list-style:none;
    justify-content: space-evenly;
    width:41rem;
    
    
    
    
    
}
nav ul li a {
    text-decoration: none;
    color:black;
}
.nav-button-container button {
    padding:0.25rem 1rem;
    border-radius:2rem;
    background-color:var(--dark-purple);
    border:none;
    color:white;
}

/*********************/
.hero-section {
    width:100vw;
    height:150vh;
    border:2px solid red;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:12rem;
}
.hero-wrapper {
    width:80vw;
}
.hero-wrapper h1 {
    
    font-family: 'Bowlby One SC', cursive;
    font-size:3.5rem;
    text-align:center;
}
.hero-wrapper h1 span {
    font-family: 'Bowlby One SC', cursive;
    color:var(--dark-purple);
   
}