:root {
    --dark-purple:#AB88FF;
    --light-purple:#D8C8FF;
    --green:#C2F557;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*************************
Safari button reset
*************************/
button {
    color:black;
}
/************************/
body {
    width:100vw;
    background-color:white;
    color:black;
    height:1000vh;
}

main {
    width:100vw;
    height:1000vh;
    color:black;
    background-color:white;
}
/*****************************/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width:100vw;
    padding-inline:4rem;
    padding-top:1rem;
    background-color:rgba(255, 255, 255, 0.8);
}
.logo-container img {
    width:50px;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    padding-left:3rem;
}
nav ul {
    display:flex;
    list-style:none;
    justify-content: space-evenly;
    width:41rem;
    
    
    
    
    
}
nav ul li a {
    text-decoration: none;
    color:black;
}
.nav-button-container button {
    padding:0.25rem 1rem;
    border-radius:2rem;
    background-color:var(--dark-purple);
    border:none;
    color:white;
}

/*********************/
.hero-section {
    width:100vw;
    height:150vh;
    display:flex;
    gap:1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top:11rem;
}
.hero-wrapper {
    width:80vw;
}
.hero-wrapper h1 {
    
    font-family: 'Bowlby One SC', cursive;
    font-size:max(4vw, 2.5rem);
    text-align:center;
}
.hero-wrapper h1 span {
    font-family: 'Bowlby One SC', cursive;
    color:var(--dark-purple);
   
}
.hero-button-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;

}
.hero-button-wrapper button {
    width:max(7rem, 9vw);
    padding-block:0.5rem;
    font-size:max(1.25vw, 0.75rem);
    color:white;
    background-color:black;
    font-weight:500;
    border:none;
}
.hero-button-wrapper p {
    width:50%;
    font-size:max(0.75rem,1.5vw);
}
.hero-wrapper h1 span:last-of-type > img {
    width:3vw;
}
.hero-wrapper h1:last-of-type {
    display:none;
}
/*************************/
.hero-image-wrapper img {
    width:max(80vw, 350px);
    width:80vw;
    
    margin-top:2rem;
}

/**********************/
@media (max-width:704px) {
    .hero-wrapper h1:last-of-type {
        display:block;
    }
    .hero-wrapper h1:first-child {
        display:none;
    }
    .hero-button-wrapper p {
        width:90%;
        text-align:center;
    }
    .hero-button-wrapper {
        flex-direction: column-reverse;
    }
    .hero-section {
        height:120vh;
    }
}
@media (max-width:835px) {
    nav {
        display:none;
    }
}
@media (max-width:330px) {
    .hero-wrapper h1 {
        font-size:2rem;
    }
}
/***************************/
.why-us {
    width:100vw;
    height:100vh;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:3rem;
    
}
.why-us h2 {
    width:60%;
    font-size:2rem;

}
.why-us-titles {
    display:flex;
    justify-content: center;
    align-items: center;;
    flex-direction: column;
}
.why-us-cards {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    width:100vw;
    height:50vh;
    text-align:left;
    
    
    
}
.why-us img {
    width:50px;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-block:2rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
    line-height:2;
    /* flex:1; */
    justify-content: center;
    align-items: flex-start;
    height:45vh;
    padding-left:2rem;
    width:30vw;
    border-radius:1rem;
    


}
.card p {
    width:80%;
}